<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Juan Francisco Lukac</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href= '/css/stylesheet.css' rel="stylesheet">
</head>
<body>
    <header class="barra-superior">
            <div class="barra-superior-logo">
                <div class="logo">
                    <a href="/"><img src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre"></a>
                </div>
                <div class="contenedor-buscador">
                    <input class="buscador" type="search" name="buscador" placeholder="Buscar productos, marcas y más.">
                    <button class="buscador-boton"><i class="fas fa-search"></i></button>
                </div>
                <p class="compra-en-cuotas"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p> 
            </div>
            <br>
            <div class="boton-menu">
                <i class="fas fa-bars fa-lg"></i>
            </div> 
            <nav class="barra-navegacion">
                <ul class="nav-lists">
                    <div class="nav-elements">
                        <li class="nav-element"><a href="/ofertas" class="nav-link">Ofertas</a></li>
                        <li class="nav-element"><a href="/tiendas-oficiales" class="nav-link">Tiendas Oficiales</a></li>
                        <li class="nav-element"><a href="/vender" class="nav-link">Vender</a></li>
                        <li class="nav-element"><a href="/ayuda" class="nav-link"> Ayuda</a></li>
                    </div>
                    <div class="nav-links">
                        <li class="nav-link"><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li class="nav-link"><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li class="nav-link"><a href="/carrito">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </div>
                </ul>
            </nav>
    </header>  
    <main class="principal">
        <section>    
            <img class="banner" src="/images/img-home-banner.jpg" alt="banner de ofertas">
        </section>
        <section class="ultima-visita">
            <div class="titulo-seccion"><h2>Basado en tu última visita</h2></div>
            <div class="productos">
                <article  class="box-producto">
                    <a href="/producto">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$6.770 </p><p class="descuento">40% OFF </p>
                        <p class="nombre-producto">Cafetera Moulinex Dolce Gusto</p>
                    </a>
                </article>
                <article  class="box-producto">
                    <a href="/producto">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$230.000 </p><p class="descuento">20% OFF </p>
                        <p class="nombre-producto">Macbook Pro 2019</p>
                    </a>
                </article>
                <article  class="box-producto">
                    <a href="/producto">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$70.500 </p><p class="descuento">15% OFF </p>
                        <p class="nombre-producto">Teléfono móvil Samsung Galaxy S10</p>
                    </a>
                </article>
                <article  class="box-producto">
                    <a href="/producto">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$34.000 </p><p class="descuento">5% OFF </p>
                        <p class="nombre-producto">SmartTv Samsung 43"</p>
                    </a>
                </article>
            </div>
        </section>
        <section class="ofertas">
            <div class="titulo-seccion"><h2>Ofertas</h2></div>
            <div class="productos">
                <article  class="box-producto">
                    <a href="/producto" class="box-producto-link">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$6.770 </p><p class="descuento">40% OFF </p>
                        <p class="nombre-producto">Cafetera Moulinex Dolce Gusto</p>
                    </a>
                </article>
                <article  class="box-producto">
                    <a href="/producto" class="box-producto-link">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$230.000 </p><p class="descuento">20% OFF </p>
                        <p class="nombre-producto">Macbook Pro 2019</p>
                    </a>
                </article>
                <article  class="box-producto">
                    <a href="/producto" class="box-producto-link">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$70.500 </p><p class="descuento">15% OFF </p>
                        <p class="nombre-producto">Teléfono móvil Samsung Galaxy S10.</p>
                    </a>
                </article>
                <article  class="box-producto">
                    <a href="/producto" class="box-producto-link">
                        <div class="box-producto-imagen"><img class="producto-imagen" src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43"></div>                       
                        <div class="fast-shipment"><i class="fas fa-truck"></i></div>
                        <p class="producto-precio">$34.000 </p><p class="descuento">5% OFF </p>
                        <p class="nombre-producto">SmartTv Samsung 43"</p>
                    </a>
                </article>
            </div>
        </section>
    </main>
    <footer class="pie-de-pagina">
        <div class="pie-articulos">
            <article class="pie-articulo">
                <p class="pie-articulo-icono"><i class="fas fa-credit-card fa-2x"></i></p>
                <h4 class="titulos-h4">Pagá con tarjeta o en efectivo</h4>
                <p class="pie-articulo-texto">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!
            </article>
            <article class="pie-articulo">
                <p class="pie-articulo-icono"><i class="fas fa-gift fa-2x"></i></p>
                <h4 class="titulos-h4">Envío gratis desde los $ 2.500</h4>
                <p class="pie-articulo-texto">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.
            </article>
            <article class="pie-articulo">
                <p class="pie-articulo-icono"><i class="fas fa-user-shield fa-2x"></i></p>
                <h4 class="titulos-h4">Seguridad, de principio a fin</h4>
                <p class="pie-articulo-texto">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.
            </article><br>
        </div>
        <div class="copyright">Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>
    
</body>
</html>