<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Juan Francisco Lukac</title>
</head>
<body>
    <header><img src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre"><input type="search" name="buscador" placeholder="Buscar productos, marcas y más."><input type="submit" value="B"> <p>Comprá en cuotas y sin tarjeta de crédito</p></header>    
    <nav>
        <ul>
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>
        <ul>
            <li>Creá tu cuenta</li>
            <li>Ingresá</li>
            <li>Mis compras</li>
        </ul>
    </nav>
    <img src="/images/img-home-banner.jpg" alt="banner de ofertas">
    <h2>Basado en tu última visita</h2>
    <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
        <p>$6.770 <br>
        40% OFF </p>
        <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
        <p>$230.000 <br>
        20% OFF </p>
        <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
        <p>$70.500 <br>
        15% OFF </p>
        <h3>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
        <p>$34.000 <br>
        5% OFF </p>
        <h3>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    </div>
    
    <h2>Ofertas</h2>
    <div>
        <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
        <p>$6.770 <br>
        40% OFF </p>
        <h3>Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
        <p>$230.000 <br>
        20% OFF </p>
        <h3>Macbook Pro 2019 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
        <p>$70.500 <br>
        15% OFF </p>
        <h3>Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</h3>
    </div>
    <div>
        <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
        <p>$34.000 <br>
        5% OFF </p>
        <h3>SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</h3>
    </div>

    <footer>
        <div><h3>Pagá con tarjeta o en efectivo</h3>
            Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
            pago. ¡Y siempre es seguro!
        </div>
        <div><h3>Envío gratis desde los $ 2.500</h3>
            Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
            productos. Es un beneficio de MercadoPuntos.
        </div>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
            porque estás siempre prtegid@.
        </div><br>
        <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
    </footer>
</body>
</html>