<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Juan Francisco Lukac</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href= '/css/stylesheet.css' rel="stylesheet">
</head>
<body>
    <main class="principal">
        <header class="barra-superior">
                <div class="barra-superior-logo">
                    <div class="logo">
                        <a href="/"><img src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre"></a>
                    </div>
                    <div class="contenedor-buscador">
                        <input class="buscador" type="search" name="buscador" placeholder="Buscar productos, marcas y más.">
                        <button class="buscador-boton"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p> 
                <div class="boton-menu">
                    <i class="fas fa-bars"></i>
                </div> 
                <nav class="barra-navegacion">
                    <ul class="nav-lists">
                        <li class="nav-element"><a href="/ofertas" class="nav-link">Ofertas</a></li>
                        <li class="nav-element"><a href="/tiendas-oficiales" class="nav-link">Tiendas Oficiales</a></li>
                        <li class="nav-element"><a href="/vender" class="nav-link">Vender</a></li>
                        <li class="nav-element"><a href="/ayuda" class="nav-link"> Ayuda</a></li>
                    </ul>
                    <ul class="nav-lists">
                        <li class="nav-link"><a href="/register">Creá tu cuenta</a></li>
                        <li class="nav-link"><a href="/login">Ingresá</a></li>
                        <li class="nav-link"><a href="/carrito">Mis compras</a></li>
                    </ul>
                </nav>
        </header>  
        <section>    
            <img class="banner" src="/images/img-home-banner.jpg" alt="banner de ofertas">
        </section>
        <section class="ultima-visita">
            <div class="titulo-seccion"><h2>Basado en tu última visita</h2></div>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
                    <p>$6.770 </p>
                    <p class="descuento">40% OFF </p>
                    <p class="nombre-producto">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
                    <p>$230.000 </p>
                    <p class="descuento">20% OFF </p>
                    <p class="nombre-producto">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
                    <p>$70.500 </p>
                    <p class="descuento">15% OFF </p>
                    <p class="nombre-producto">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
                    <p>$34.000 </p>
                    <p class="descuento">5% OFF </p>
                    <p class="nombre-producto">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
        </section>
        <section class="ofertas">
            <div class="titulo-seccion"><h2>Ofertas</h2></div>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Foto cafetera moulinex">
                    <p>$6.770 </p>
                    <p class="descuento">40% OFF </p>
                    <p class="nombre-producto">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-macbook-pro-2019.jpg" alt="Foto Macbook pro">
                    <p>$230.000 </p>
                    <p class="descuento">20% OFF </p>
                    <p class="nombre-producto">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Foto Samsung Galaxy">
                    <p>$70.500</p>
                    <p class="descuento">15% OFF </p>
                    <p class="nombre-producto">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
            <article  class="box-producto">
                <a href="/producto">
                    <img src="/images/img-tv-samsung-smart.jpg" alt="Foto SmartTV Samsung 43">
                    <p>$34.000 </p>
                    <p class="descuento">5% OFF </p>
                    <p class="nombre-producto">SmartTv Samsung 43" Lorem ipsum, dolor sit amet.</p>
                </a>
            </article>
        </section>
        <footer class="pie-de-pagina">
            <article class=""><h4 class="titulos-h4">Pagá con tarjeta o en efectivo</h4>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!
            </article>
            <article class=""><h4 class="titulos-h4">Envío gratis desde los $ 2.500</h4>
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.
            </article>
            <article class="">
                <h4 class="titulos-h4">Seguridad, de principio a fin</h4>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.
            </article><br>
            <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
        </footer>
    </main>
</body>
</html>