<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Juan Francisco Lukac</title>
    <link href= '/css/stylesheet.css' rel="stylesheet">
</head>
<body>
    <main>
        <div class="barra-superior">
        <header class="barra-superior-header">
            <div class="logo"><a href="/"><img src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre"></a></div>
            <input class="buscador" type="search" name="buscador" placeholder="Buscar productos, marcas y más."><input type="submit" value="B"> 
            <p>Comprá en cuotas y sin tarjeta de crédito</p>
        </header>    
        <nav class="barra-superior">
            <ul class="nav-lists">
                <li class="nav-link"><a href="/ofertas" >Ofertas</a></li>
                <li class="nav-link"><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
                <li class="nav-link"><a href="/vender">Vender</a></li>
                <li class="nav-link"><a href="/ayuda"> Ayuda</a></li>
            </ul>
            <ul class="nav-lists">
                <li class="nav-link"><a href="/register">Creá tu cuenta</a></li>
                <li class="nav-link"><a href="/login">Ingresá</a></li>
                <li class="nav-link"><a href="/carrito">Mis compras</a></li>
            </ul>
        </nav>
        </div>
        <form action="/" method="POST">
            <input type="text" name="NombreUsuario" id="NombreUsuario" placeholder="Nombre de Usuario">
            <br>
            <input type="password" name="contrasena" id="contrasena" placeholder="Ingresa tu contraseña">
            <button type="submit">Enviar</button>
        </form>
        <footer>
            <article><h3>Pagá con tarjeta o en efectivo</h3>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!
            </article>
            <article><h3>Envío gratis desde los $ 2.500</h3>
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.
            </article>
            <article>
                <h3>Seguridad, de principio a fin</h3>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.
            </article><br>
            <div>Copyright © 1999-2019 MercadoLiebre S.R.L.</div>
        </footer>
    </main>
</body>
</html>
