<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Juan Francisco Lukac</title>
    <link href= '/css/stylesheet.css' rel="stylesheet">
</head>
<body>
    <div class="barra-superior">
    <header class="barra-superior-header">
        <div class="logo"><a href="/"><img src = "/images/logo-mercado-liebre.svg", alt = "logo de Mercado Liebre"></a></div>
        <input class="buscador" type="search" name="buscador" placeholder="Buscar productos, marcas y más."><input type="submit" value="B"> 
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
    </header>    
    <nav class="barra-superior">
        <ul class="nav-lists">
            <li class="nav-link"><a href="/ofertas" >Ofertas</a></li>
            <li class="nav-link"><a href="/tiendas-oficiales">Tiendas Oficiales</a></li>
            <li class="nav-link"><a href="/vender">Vender</a></li>
            <li class="nav-link"><a href="/ayuda"> Ayuda</a></li>
        </ul>
        <ul class="nav-lists">
            <li class="nav-link"><a href="/register">Creá tu cuenta</a></li>
            <li class="nav-link"><a href="/login">Ingresá</a></li>
            <li class="nav-link"><a href="/carrito">Mis compras</a></li>
        </ul>
    </nav>
    </div>

    <p>tiendas oficiales</p>
</body>
</html>