main.principal {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;
}

ul li {
    list-style-type: none;
}
a {
    text-decoration: none;
}



.nav-lists{
    width: 50%;
}

.logo {
    max-width: 50%;
    padding-top:7px;
}

.barra-superior {
    background-color: #EAC926;
    background-size: cover;
    padding-left: 15px;
}

.boton-menu {
    display: inline-block;
    color: white;
    text-align: center;
    text-shadow: 20px;
    border-radius: 5px;
    margin: 20px 0px;
    background-color: #0044aa;
    padding: 10px;
}

.boton-menu:hover {
    background-color: #0022aa;
    cursor: pointer;
}

.barra-navegacion{
    display: none;
}

.banner{
    width: 100%;
    display: inline-block;
}

.buscador {
    max-width: 50%;
    display: inline-block;
}

.nav-link {
    display: inline-block;
    max-width: 15px;
    padding: 2px;
}

.titulo-seccion {
    text-align: center;
    width: 90%;
    margin: 20px 0px;
    color: #666;
}
.ultima-visita{
    display: flex;
    flex-wrap: wrap;
}
.descuento {
    color: green;
    font-size: 90%;
}
article {
    background-color: white;
}
.box-producto {
    border: 4px;
    margin: 20px;
    box-sizing: border-box;
    padding: 15px;
}

.box-producto:nth-child(1) {
    margin: 0px 0px 20px 0px;
}

.box-producto a img {
    width: 100%;
}

.nombre-producto {
    color: #666;
}

.ofertas {
    display: flex;
    flex-wrap: wrap;
}

.pie-de-pagina {
    padding: 20px 5%;
    background-color: white;
    color: #666;
}

.titulos-h4 {
    font-size: 24px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    color: #666;
}
.contenedor-buscador {
    display: flex;
    flex-direction: column;
}
.buscador-boton {
    width: fit-content;
}